
Tripit/Tripit.xcworkspace/xcuserdata/razop.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.plist
*.plist
Tripit/Tripit.xcworkspace/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Tripit/Tripit.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Tripit/Tripit.xcworkspace/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Tripit/Tripit.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Tripit/Tripit.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
Tripit/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
